page-message {

}
page-message .messageEmetteur {

  background-color: #4c70db;
  border: 2px double #304ec0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 15px;



}

page-message .messageRecepteur {

  background-color: #dbdbdb;
  border: 2px double silver;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 15px;
}